html, body {
	font-family: Arial, Verdana;
	font-size: 14pt;
	margin: 0;
	padding: 0;
	height: 100%;
}
input { font-family: Arial, Verdana; font-size: 14pt; color: #FF0080; }
#map_container { width: 600px; }
#map_canvas { width: 600px; height: 300px;}
#ui-container { width: 600px; }
#ui-panel { white-space: nowrap; font-size: 18pt; padding: 12px; border: 1px solid #ddd; background: #eee;}
#results-panel { width: 600px; display: none; opacity: 0.5; white-space: nowrap; margin-top: 12px; font-size: 10pt; border: 1px solid #ddd; background: #eee;}
#debug { /*display: none;*/ position: fixed; bottom: 24px; right: 24px; width: 200px; border: 1px solid #ddd; background: #eee; }
#loading-page { z-index: 4; display: none; position: fixed; left: 50%; top: 40%; margin-left: -130px; width: 200px; padding: 20px; -moz-border-radius: 10px; -webkit-border-radius: 10px; background-color: #fff; text-align: center; }
#loading-message { /*white-space: nowrap;*/ }
#slider-container { width: 600px; white-space: nowrap; border: 1px solid #888; display: none; z-index: 4; background-color: #eee; }
#slider { }
#slider-time { white-space: nowrap; padding-left: 10px;}
#info { z-index: 4; font-size: 12.5pt; padding: 12px; background-color: #fff; position: fixed; bottom: 20px; left: 50%; width: 650px; margin-left: -325px; text-align: center; }
#info a { color: red;}
#welcome { display: none; z-index: 5; text-align: center; position: fixed; padding: 12px; border: 6px solid #ff0080; width: 600px; background-color: #fff; top: 60px; left: 50%; margin-left: -300px; }
.shadow {
  -moz-box-shadow: 5px 5px 5px #888;
  -webkit-box-shadow: 5px 5px 5px #888;
  box-shadow: 5px 5px 5px #888;
}
#hypnotoad { display: none; z-index: 5; text-align: center; position: fixed; padding: 12px; border: 6px solid #ff0080; width: 800px; background-color: #fff; top: 10px; left: 50%; margin-left: -400px; }
#topsecret { z-index: 5; font-size: 10pt; position: fixed; bottom: 24px; right: 12px; padding: 2px; background: #fff;}
#topsecret a { color: red;}
.flightdata { font-size: 10pt; color: #222;}
.flightdata .from_airport, .to_airport { font-weight: bold;}
.flightdata .plane_icon { color: green; font-size: 14pt; }

/* shiny blue (inspired by rdio iphone interface)
*******************************************************************************/
button.shiny-blue {
  background-color: #759ae9;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#759ae9 0%), to(#376fe0 50%));
  /* Saf4+, Chrome */
  background-image: -webkit-linear-gradient(top, #759ae9 0%, #376fe0 50%, #1a5ad9 50%, #2463de 100%);
  background-image: -moz-linear-gradient(top, #759ae9 0%, #376fe0 50%, #1a5ad9 50%, #2463de 100%);
  background-image: -ms-linear-gradient(top, #759ae9 0%, #376fe0 50%, #1a5ad9 50%, #2463de 100%);
  background-image: -o-linear-gradient(top, #759ae9 0%, #376fe0 50%, #1a5ad9 50%, #2463de 100%);
  background-image: linear-gradient(top, #759ae9 0%, #376fe0 50%, #1a5ad9 50%, #2463de 100%);
  border-top: 1px solid #1f58cc;
  border-right: 1px solid #1b4db3;
  border-bottom: 1px solid #174299;
  border-left: 1px solid #1b4db3;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 0 2px 0 rgba(57, 140, 255, 0.8);
  -moz-box-shadow: inset 0 0 2px 0 rgba(57, 140, 255, 0.8);
  -ms-box-shadow: inset 0 0 2px 0 rgba(57, 140, 255, 0.8);
  -o-box-shadow: inset 0 0 2px 0 rgba(57, 140, 255, 0.8);
  box-shadow: inset 0 0 2px 0 rgba(57, 140, 255, 0.8);
  color: #fff;
  font: bold 12pt "helvetica neue", helvetica, arial, sans-serif;
  padding: 7px 0;
  text-shadow: 0 -1px 1px #1a5ad9;
  width: 100px; }
  button.shiny-blue:hover {
    background-color: #5d89e8;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#5d89e8 0%), to(#2261e0 50%));
    /* Saf4+, Chrome */
    background-image: -webkit-linear-gradient(top, #5d89e8 0%, #2261e0 50%, #044bd9 50%, #0d53de 100%);
    background-image: -moz-linear-gradient(top, #5d89e8 0%, #2261e0 50%, #044bd9 50%, #0d53de 100%);
    background-image: -ms-linear-gradient(top, #5d89e8 0%, #2261e0 50%, #044bd9 50%, #0d53de 100%);
    background-image: -o-linear-gradient(top, #5d89e8 0%, #2261e0 50%, #044bd9 50%, #0d53de 100%);
    background-image: linear-gradient(top, #5d89e8 0%, #2261e0 50%, #044bd9 50%, #0d53de 100%);
    cursor: pointer; }
  button.shiny-blue:active {
    border-top: 1px solid #1b4db3;
    border-right: 1px solid #174299;
    border-bottom: 1px solid #133780;
    border-left: 1px solid #174299;
    -webkit-box-shadow: inset 0 0 5px 2px #1a47a0, 0 1px 0 #eeeeee;
    -moz-box-shadow: inset 0 0 5px 2px #1a47a0, 0 1px 0 #eeeeee;
    -ms-box-shadow: inset 0 0 5px 2px #1a47a0, 0 1px 0 #eeeeee;
    -o-box-shadow: inset 0 0 5px 2px #1a47a0, 0 1px 0 #eeeeee;
    box-shadow: inset 0 0 5px 2px #1a47a0, 0 1px 0 #eeeeee; }